body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.board {
  display: flex;
  flex-wrap: wrap;
  width: 320px; 
}

.square {
  width: 100px;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid #333; 
  box-sizing: border-box; 
  float: left; 
}

.square:hover {
  background-color: #ddd;
}
#winner {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.status {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.buttonList li button {
  display: block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.buttonList li button:hover {
  background-color: #555;
}
.x-turn .status {
  color: red;
}
.o-turn .status {
  color: blue;
}
